.codingSvg {
  position: absolute;
  right: 100px;
  top: 45%;
  transform: translateY(-50%);
}
#eye-left,
#eye-right {
  transform-box: fill-box;
  transform-origin: bottom;
  transform: scale(1);
  -webkit-animation: wink 4s infinite;
  animation: wink 4s infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

#eyelid-left,
#eyelid-right {
  transform: translateY(0px);
  -webkit-animation: moveEyelid 4s infinite;
  animation: moveEyelid 4s infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes moveEyelid {

  0%,
  20% {
    transform: translateY(0px);
  }

  21%,
  24% {
    transform: translateY(1.5px);
  }

  25%,
  100% {
    transform: translateY(0px);
  }
}

@keyframes moveEyelid {

  0%,
  20% {
    transform: translateY(0px);
  }

  21%,
  24% {
    transform: translateY(1.5px);
  }

  25%,
  100% {
    transform: translateY(0px);
  }
}

@-webkit-keyframes wink {

  0%,
  20% {
    transform: scale(1, 1);
  }

  21%,
  24% {
    transform: scale(1, 0.25);
  }

  25%,
  100% {
    transform: scale(1, 1);
  }
}

@keyframes wink {

  0%,
  20% {
    transform: scale(1, 1);
  }

  21%,
  24% {
    transform: scale(1, 0.25);
  }

  25%,
  100% {
    transform: scale(1, 1);
  }
}

#eyebrow-right {
  transform-origin: center;
  transform-box: fill-box;
  transform: rotateZ(0);
  -webkit-animation: moveEyebrow-right 6s infinite;
  animation: moveEyebrow-right 6s infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

#eyebrow-left {
  transform-origin: center;
  transform-box: fill-box;
  transform: rotateZ(0);
  -webkit-animation: moveEyebrow-left 6s infinite;
  animation: moveEyebrow-left 6s infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

#mouth {
  transform-origin: left;
  transform-box: fill-box;
  transform: rotateZ(0) translate(0);
  -webkit-animation: moveMouth 6s infinite;
  animation: moveMouth 6s infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes moveEyebrow-right {

  0%,
  69% {
    transform: rotateZ(0);
  }

  70%,
  90% {
    transform: rotateZ(20deg);
  }

  91%,
  100% {
    transform: rotateZ(0);
  }
}

@keyframes moveEyebrow-right {

  0%,
  69% {
    transform: rotateZ(0);
  }

  70%,
  90% {
    transform: rotateZ(20deg);
  }

  91%,
  100% {
    transform: rotateZ(0);
  }
}

@-webkit-keyframes moveEyebrow-left {

  0%,
  69% {
    transform: rotateZ(0);
  }

  70%,
  90% {
    transform: rotateZ(-20deg);
  }

  91%,
  100% {
    transform: rotateZ(0);
  }
}

@keyframes moveEyebrow-left {

  0%,
  69% {
    transform: rotateZ(0);
  }

  70%,
  90% {
    transform: rotateZ(-20deg);
  }

  91%,
  100% {
    transform: rotateZ(0);
  }
}

@-webkit-keyframes moveMouth {

  0%,
  69% {
    transform: rotateZ(0) translate(0);
  }

  70%,
  90% {
    transform: rotateZ(25deg) translate(-4px, -3px);
  }

  91%,
  100% {
    transform: rotateZ(0) translate(0);
  }
}

@keyframes moveMouth {

  0%,
  69% {
    transform: rotateZ(0) translate(0);
  }

  70%,
  90% {
    transform: rotateZ(25deg) translate(-4px, -3px);
  }

  91%,
  100% {
    transform: rotateZ(0) translate(0);
  }
}

/**************************************/
/*************** Body ****************/
/*************************************/
#arm {
  transform-origin: center;
  transform-box: fill-box;
  transform: rotateZ(0);
  -webkit-animation: moveArm 0.4s infinite alternate;
  animation: moveArm 0.4s infinite alternate;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

@-webkit-keyframes moveArm {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(2deg);
  }
}

@keyframes moveArm {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(2deg);
  }
}

#foot {
  transform-origin: bottom left;
  transform-box: fill-box;
  transform: rotateZ(0);
  -webkit-animation: moveFoot 3s infinite alternate;
  animation: moveFoot 3s infinite alternate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes moveFoot {

  0%,
  50% {
    transform: rotateZ(0);
  }

  51%,
  60% {
    transform: rotateZ(-5deg);
  }

  61%,
  100% {
    transform: rotateZ(0);
  }
}

@keyframes moveFoot {

  0%,
  50% {
    transform: rotateZ(0);
  }

  51%,
  60% {
    transform: rotateZ(-5deg);
  }

  61%,
  100% {
    transform: rotateZ(0);
  }
}

/**************************************/
/*************** Computer ************/
/*************************************/
#power-led {
  fill: #E8505B;
  -webkit-animation: powerledOn 1s infinite;
  animation: powerledOn 1s infinite;
}

@-webkit-keyframes powerledOn {

  0%,
  30% {
    fill: #E8505B;
  }

  31%,
  60% {
    fill: #e73e49;
  }

  61%,
  100% {
    fill: #E8505B;
  }
}

@keyframes powerledOn {

  0%,
  30% {
    fill: #E8505B;
  }

  31%,
  60% {
    fill: #e73e49;
  }

  61%,
  100% {
    fill: #E8505B;
  }
}

#screen {
  -webkit-animation: moveUp 10s infinite;
  animation: moveUp 10s infinite;
}

@-webkit-keyframes moveUp {
  0% {
    transform: translateY(calc(0 * -15.5px));
  }

  10% {
    transform: translateY(calc(1 * -15.5px));
  }

  20% {
    transform: translateY(calc(2 * -15.5px));
  }

  30% {
    transform: translateY(calc(3 * -15.5px));
  }

  40% {
    transform: translateY(calc(4 * -15.5px));
  }

  50% {
    transform: translateY(calc(5 * -15.5px));
  }

  60% {
    transform: translateY(calc(6 * -15.5px));
  }

  70% {
    transform: translateY(calc(7 * -15.5px));
  }

  80% {
    transform: translateY(calc(8 * -15.5px));
  }

  90% {
    transform: translateY(calc(9 * -15.5px));
  }

  100% {
    transform: translateY(calc(10 * -15.5px));
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(calc(0 * -15.5px));
  }

  10% {
    transform: translateY(calc(1 * -15.5px));
  }

  20% {
    transform: translateY(calc(2 * -15.5px));
  }

  30% {
    transform: translateY(calc(3 * -15.5px));
  }

  40% {
    transform: translateY(calc(4 * -15.5px));
  }

  50% {
    transform: translateY(calc(5 * -15.5px));
  }

  60% {
    transform: translateY(calc(6 * -15.5px));
  }

  70% {
    transform: translateY(calc(7 * -15.5px));
  }

  80% {
    transform: translateY(calc(8 * -15.5px));
  }

  90% {
    transform: translateY(calc(9 * -15.5px));
  }

  100% {
    transform: translateY(calc(10 * -15.5px));
  }
}

/**************************************/
/*************** Decorators ************/
/*************************************/
#decorator_php,
#decorator_html,
#decorator_js,
#decorator_css,
#decorator_code,
#decorator_small_site,
#website {
  opacity: 0;
}

#decorator_code {
  -webkit-animation: show 1s ease-in 2s forwards;
  animation: show 1s ease-in 2s forwards;
}

#decorator_js {
  -webkit-animation: show 2s ease-in 3s forwards;
  animation: show 2s ease-in 3s forwards;
}

#decorator_small_site {
  -webkit-animation: show 2s ease-in 6s forwards;
  animation: show 2s ease-in 6s forwards;
}

#decorator_html {
  -webkit-animation: show 1s ease-in 4s forwards;
  animation: show 1s ease-in 4s forwards;
}

#decorator_php {
  -webkit-animation: show 2s ease-in 5s forwards;
  animation: show 2s ease-in 5s forwards;
}

#website {
  -webkit-animation: show 1s ease-in 7.5s forwards;
  animation: show 1s ease-in 7.5s forwards;
}

#decorator_css {
  -webkit-animation: show 1s ease-in 6.5s forwards;
  animation: show 1s ease-in 6.5s forwards;
}

#main {
  transform: translateX(-100px);
  -webkit-animation: moveWesbiteX1 0.4s ease-in 9s forwards;
  animation: moveWesbiteX1 0.4s ease-in 9s forwards;
}

#rect1 {
  transform: translateX(-100px);
  -webkit-animation: moveWesbiteX1 0.4s ease-in 10s forwards;
  animation: moveWesbiteX1 0.4s ease-in 10s forwards;
}

#rect2 {
  transform: translateY(100px);
  -webkit-animation: moveWesbiteY 0.4s ease-in 11s forwards;
  animation: moveWesbiteY 0.4s ease-in 11s forwards;
}

#rect3 {
  transform: translateY(100px);
  -webkit-animation: moveWesbiteY 0.4s ease-in 12s forwards;
  animation: moveWesbiteY 0.4s ease-in 12s forwards;
}

#rect4 {
  transform: translateX(100px);
  -webkit-animation: moveWesbiteX2 0.4s ease-in 13s forwards;
  animation: moveWesbiteX2 0.4s ease-in 13s forwards;
}

@-webkit-keyframes moveWesbiteX1 {
  from {
    transform: translateX(-100px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes moveWesbiteX1 {
  from {
    transform: translateX(-100px);
  }

  to {
    transform: translateX(0);
  }
}

@-webkit-keyframes moveWesbiteX2 {
  from {
    transform: translateX(100px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes moveWesbiteX2 {
  from {
    transform: translateX(100px);
  }

  to {
    transform: translateX(0);
  }
}

@-webkit-keyframes moveWesbiteY {
  from {
    transform: translateY(100px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes moveWesbiteY {
  from {
    transform: translateY(100px);
  }

  to {
    transform: translateY(0);
  }
}

@-webkit-keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}