@charset "utf-8";

@font-face {
    font-family: 'Nanum Gothic', sans-serif;
    src: url(../fonts/NanumGothic-Regular.ttf);
}

body {
    min-width: 1200px;
    font-family: 'Nanum Gothic', sans-serif;
}

.headertop {
    background-color: #33AFE8;
}

.headertop::after {
    display: block;
    content: "";
    clear: both;
}

.gnb {
    width: 1200px;
    margin: auto;
}

.gnb li {
    float: left;
    padding: 10px;
    position: relative;
}

.gnb li div {
    position: absolute;
    z-index: 99;
}

.gnb li:nth-child(11)~li {
    float: right;
}

.gnb a {
    color: #fff;
    font-weight: bold;
}

.gnb li:nth-child(2) div {
    position: absolute;
    left: 0;
    top: 30px;
    background-color: rgba(255, 255, 255, .95);
    width: 840px;
    height: 215px;
    display: none;
    border: 1px solid #33AFE8;
}

.gnb li:nth-child(2) div a {
    color: #444;
    font-weight: normal;
}

.gnb li:nth-child(2) div table {
    position: absolute;
    width: 481px;
    box-sizing: border-box;
    padding: 5px;
}

.gnb li:nth-child(2) div table td {
    /* display: block; */
    padding: 2px;
    box-sizing: border-box
}


.gnb li:nth-child(2) div>img {
    position: absolute;
    margin-left: 481px;
}

.gnb li:nth-child(2):hover div {
    display: block;
}

.gnb li:nth-child(3) div {
    position: absolute;
    left: 0;
    top: 30px;
    background-color: rgba(255, 255, 255, .95);
    width: 740px;
    height: 334px;
    display: none;
    border: 1px solid #33AFE8;
}

.gnb li:nth-child(3) div a {
    color: #444;
    font-weight: normal;
}

.gnb li:nth-child(3) div table {
    position: absolute;
    width: 481px;
    box-sizing: border-box;
    padding: 5px;
}

.gnb li:nth-child(3) div table td {
    /* display: block; */
    padding: 2px;
    box-sizing: border-box
}

.gnb li:nth-child(3) div span {
    color: #EE3C96;
    line-height: 1.5em;
    font-weight: bold;
}

.gnb li:nth-child(3) div>img {
    position: absolute;
    margin-left: 481px;
}

.gnb li:nth-child(3):hover div {
    display: block;
}

.gnb li:nth-child(4) div {
    position: absolute;
    left: 0;
    top: 30px;
    background-color: rgba(255, 255, 255, .95);
    width: 620px;
    height: 215px;
    display: none;
    border: 1px solid #33AFE8;
}

.gnb li:nth-child(4) div a {
    color: #444;
    font-weight: normal;
}

.gnb li:nth-child(4) div table {
    position: absolute;
    width: 360px;
    box-sizing: border-box;
    padding: 5px;
}

.gnb li:nth-child(4) div table td {
    /* display: block; */
    padding: 2px;
    box-sizing: border-box
}

.gnb li:nth-child(4) div>img {
    position: absolute;
    margin-left: 360px;
}

.gnb li:nth-child(4):hover div {
    display: block;
}

.gnb li:nth-child(5) div {
    position: absolute;
    left: 0;
    top: 30px;
    background-color: rgba(255, 255, 255, .95);
    width: 690px;
    height: 155px;
    display: none;
    border: 1px solid #33AFE8;
}

.gnb li:nth-child(5) div a {
    color: #444;
    font-weight: normal;
}

.gnb li:nth-child(5) div table {
    position: absolute;
    width: 481px;
    box-sizing: border-box;
    padding: 5px;
}

.gnb li:nth-child(5) div table td {
    /* display: block; */
    padding: 2px;
    box-sizing: border-box
}

.gnb li:nth-child(5) div>img {
    position: absolute;
    margin-left: 481px;
}

.gnb li:nth-child(5):hover div {
    display: block;
}

.gnb li:nth-child(6) div {
    position: absolute;
    left: 0;
    top: 30px;
    background-color: rgba(255, 255, 255, .95);
    width: 740px;
    height: 226px;
    display: none;
    border: 1px solid #33AFE8;
}

.gnb li:nth-child(6) div a {
    color: #444;
    font-weight: normal;
}

.gnb li:nth-child(6) div span {
    color: #EE3C96;
}

.gnb li:nth-child(6) div table {
    position: absolute;
    width: 481px;
    box-sizing: border-box;
    padding: 5px;
}

.gnb li:nth-child(6) div table td {
    /* display: block; */
    padding: 2px;
    box-sizing: border-box
}

.gnb li:nth-child(6) div>img {
    position: absolute;
    margin-left: 481px;
}

.gnb li:nth-child(6):hover div {
    display: block;
}

.gnb li:nth-child(7) div {
    position: absolute;
    left: 0;
    top: 30px;
    background-color: rgba(255, 255, 255, .95);
    width: 860px;
    height: 308px;
    display: none;
    border: 1px solid #33AFE8;
}

.gnb li:nth-child(7) div a {
    color: #444;
    font-weight: normal;
}

.gnb li:nth-child(7) div table {
    position: absolute;
    width: 601px;
    box-sizing: border-box;
    padding: 5px;
}

.gnb li:nth-child(7) div table td {
    /* display: block; */
    padding: 2px;
    box-sizing: border-box
}

.gnb li:nth-child(7) div span {
    color: #33AFE8;
}

.gnb li:nth-child(7) div tr:nth-of-type(11) span {
    display: block;
    line-height: 1.5em;
    margin-bottom: 20px;
}

.gnb li:nth-child(7) div>img {
    position: absolute;
    margin-left: 601px;
}

.gnb li:nth-child(7):hover div {
    display: block;
}

.gnb li:nth-child(8) div {
    position: absolute;
    left: 0;
    top: 30px;
    background-color: rgba(255, 255, 255, .95);
    width: 462px;
    height: 206px;
    display: none;
    border: 1px solid #33AFE8;
}

.gnb li:nth-child(8) div a {
    color: #444;
    font-weight: normal;
}

.gnb li:nth-child(8) div table {
    position: absolute;
    width: 240px;
    box-sizing: border-box;
    padding: 5px;
}

.gnb li:nth-child(8) div table td {
    /* display: block; */
    padding: 2px;
    box-sizing: border-box
}

.gnb li:nth-child(8) div img {
    position: absolute;
    margin-left: 240px;
}

.gnb li:nth-child(8):hover div {
    display: block;
}

.gnb li:nth-child(9) div {
    position: absolute;
    left: 0;
    top: 30px;
    background-color: rgba(255, 255, 255, .95);
    width: 530px;
    height: 237px;
    display: none;
    border: 1px solid #33AFE8;
}

.gnb li:nth-child(9) div a {
    color: #444;
    font-weight: normal;
}

.gnb li:nth-child(9) div table {
    position: absolute;
    width: 240px;
    box-sizing: border-box;
    padding: 5px;
}

.gnb li:nth-child(9) div table td {
    /* display: block; */
    padding: 2px;
    box-sizing: border-box
}

.gnb li:nth-child(9) div img {
    position: absolute;
    margin-left: 240px;
}

.gnb li:nth-child(9):hover div {
    display: block;
}

.gnb li:nth-child(10) div {
    position: absolute;
    left: 0;
    top: 30px;
    background-color: rgba(255, 255, 255, .95);
    width: 703px;
    height: 206px;
    display: none;
    border: 1px solid #33AFE8;
}

.gnb li:nth-child(10) div a {
    color: #444;
    font-weight: normal;
}

.gnb li:nth-child(10) div table {
    position: absolute;
    width: 481px;
    box-sizing: border-box;
    padding: 5px;
}

.gnb li:nth-child(10) div table td {
    /* display: block; */
    padding: 2px;
    box-sizing: border-box
}

.gnb li:nth-child(10) div img {
    position: absolute;
    margin-left: 481px;
}

.gnb li:nth-child(10):hover div {
    display: block;
}

.gnb li:nth-child(11) div {
    position: absolute;
    left: 0;
    top: 30px;
    background-color: #fff;
    width: 100px;
    height: 70px;
    display: none;
    border: 1px solid #33AFE8;
}

.gnb li:nth-child(11) div a {
    color: #444;
    font-weight: normal;
}

.gnb li:nth-child(11) div table {
    position: absolute;
    width: 100px;
    box-sizing: border-box;
    padding: 5px;
}

.gnb li:nth-child(11) div table td {
    /* display: block; */
    padding: 2px;
    box-sizing: border-box
}

.gnb li:nth-child(11):hover div {
    display: block;
}

.gnb li:nth-child(12) div {
    position: absolute;
    left: -125px;
    top: 30px;
    right: 370px;
    background-color: #fff;
    width: 200px;
    height: 70px;
    display: none;
    border: 1px solid #33AFE8;
}

.gnb li:nth-child(12) div span {
    display: block;
    color: #33AFE8;
    height: 40px;
    padding-top: 20px;
    width: 90px;
    margin: auto;
}

.gnb li:nth-child(12):hover div {
    display: block;
}

.gnb li:nth-child(14) div {
    position: absolute;
    left: 0;
    top: 30px;
    background-color: #fff;
    width: 100px;
    height: 110px;
    display: none;
    border: 1px solid #33AFE8;
}

.gnb li:nth-child(14) div a {
    color: #444;
    font-weight: normal;
}

.gnb li:nth-child(14) div table {
    position: absolute;
    width: 100px;
    box-sizing: border-box;
    padding: 5px;
}

.gnb li:nth-child(14) div table td {
    /* display: block; */
    padding: 2px;
    box-sizing: border-box
}

.gnb li:nth-child(14):hover div {
    display: block;
}

.gnb li div a:hover {
    text-decoration: underline;
}

.headerMiddle {
    width: 1200px;
    margin: auto;
    overflow: hidden;
}

.headerMiddle>div {
    float: left;
}

.headerMiddle>.logo {
    width: 300px;
}

.headerMiddle>.logo h1 {
    font-size: 0;
}

.headerMiddle>.logo img {
    display: block;
    height: 100px;
    margin: auto;
}

.headerMiddle>.search {
    width: 600px;
}

.headerMiddle>.search>form {
    width: 600px;
    height: 40px;
    margin-top: 30px;
}

.headerMiddle>.search>form>div {
    float: left;
}

.headerMiddle>.search>form>div>div {
    float: left;
}

.headerMiddle>.search>form>div:nth-child(1) {
    width: 540px;
    height: 40px;
    border-radius: 40px;
    box-sizing: border-box;
    border: 2px solid #33AFE8;
    overflow: hidden;
}

.headerMiddle>.search>form>div:nth-child(1) div:nth-child(1) {
    width: 100px;
    height: 50px;
    box-sizing: border-box;
    border-right: 1px solid #33AFE8;
}

.headerMiddle>.search>form>div:nth-child(1) div:nth-child(1) select {
    border: none;
    color: #426AB3;
    margin: 10px 10px 10px 15px;
    font-family: 'Nanum Gothic', sans-serif;
}

.headerMiddle>.search>form>div:nth-child(1) div:nth-child(2) {
    height: 50px;
}

.headerMiddle>.search>form>div:nth-child(1) div:nth-child(2) input {
    width: 350px;
    height: 30px;
    margin-left: 10px;
    margin-top: 3px;
    border: none;
}


.headerMiddle>.search>form>div:nth-child(1) div:nth-child(3) {
    float: right;
    width: 70px;
    height: 50px;
    background-color: #33AFE8;
}

.headerMiddle>.search>form>div:nth-child(1) div:nth-child(3) input {
    background-color: transparent;
    border: none;
    display: block;
    width: 30px;
    margin: 8px 18px;
    font-size: 15px;
    color: #fff;
}

.headerMiddle>.search>form>div:nth-child(1) div:nth-child(3) input:hover {
    cursor: pointer;
}

.headerMiddle>.search>form>input[type="image"] {
    height: 14px;
    float: left;
    margin-top: 13px;
}

.headerMiddle>.headerBanner {
    width: 300px;
}

.headerMiddle>.headerBanner img {
    margin-top: 10px;
    margin-left: 60px;
}

.headerBottom {
    /* overflow: hidden; */
    height: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid #436AB3;
}

.lnb {
    width: 1200px;
    margin: auto;
    font-size: 13px;
    position: relative;
}

.lnb>ul>li {
    float: left;
    padding: 10px;
}

.lnb>ul>li:nth-child(6)~li {
    float: right;
}

.lnb>ul>li>a {
    color: #33AFE8;
    font-weight: bold;
}

.lnb>ul>li:hover>a {
    color: #426AB3;
}

.lnb>ul>li:nth-child(1):hover>a {
    color: #33AFE8;
}

.lnb li:nth-child(7)>a,
.lnb li:nth-child(8)>a,
.lnb li:nth-child(9)>a {
    color: #EE3C96;
}

.lnb li:nth-child(7):hover>a,
.lnb li:nth-child(8):hover>a,
.lnb li:nth-child(9):hover>a {
    color: #d1297d;
}

.lnb>ul>li>div {
    z-index: 99;
}

.lnb>ul>li:nth-child(1)>div {
    position: absolute;
    left: 0;
    top: 30px;
    background-color: rgba(255, 255, 255, .95);
    font-size: 12px;
    display: none;
    border: 1px solid #33AFE8;
    padding: 5px 0 5px 5px;
    box-sizing: border-box;
}

.lnb>ul>li:nth-child(1)>div>div {
    float: left;
    border-right: 1px solid #f0f0f0;
    padding: 0 5px;
    height: 580px;
}

.lnb>ul>li:nth-child(1)>div th {
    background-color: #444;
    padding: 5px;
}

.lnb>ul>li:nth-child(1)>div th a {
    color: #fff;
}

.lnb>ul>li:nth-child(1)>div td a {
    display: block;
    width: 120px;
    padding: 3px;
}

.lnb>ul>li:nth-child(1)>div td.smallTitle {
    padding-top: 5px;
}

.lnb>ul>li:nth-of-type(1)>div>div:nth-child(3)>table tr:nth-child(17) td {
    padding-bottom: 10px;
}

.lnb>ul>li:nth-of-type(1)>div>div:nth-child(4)>table tr:nth-child(14) td {
    padding-bottom: 10px;
}

.lnb>ul>li:nth-of-type(1)>div>div:nth-child(5)>table tr:nth-child(11) td {
    padding-bottom: 10px;
}

.lnb>ul>li:nth-child(1)>div span {
    color: #EE3C96;
}

.lnb li:nth-child(1):hover div {
    display: block;
}

.lnb li:nth-child(2)>div {
    position: absolute;
    top: 30px;
    background-color: #fff;
    width: 100px;
    font-size: 12px;
    display: none;
    border: 1px solid #33AFE8;
}

.lnb li:nth-child(2)>div li {
    padding: 5px;
}

.lnb li:nth-child(2):hover div {
    display: block;
}

.lnb li:nth-child(4)>div {
    position: absolute;
    top: 30px;
    background-color: #fff;
    width: 100px;
    font-size: 12px;
    display: none;
    border: 1px solid #33AFE8;
}

.lnb li:nth-child(4)>div li {
    padding: 5px;
}

.lnb li:nth-child(4):hover div {
    display: block;
}

.lnb li:nth-child(5)>div {
    position: absolute;
    top: 30px;
    background-color: #fff;
    width: 100px;
    font-size: 12px;
    display: none;
    border: 1px solid #33AFE8;
}

.lnb li:nth-child(5)>div li {
    padding: 5px;
}

.lnb li:nth-child(5):hover div {
    display: block;
}

.lnb li:nth-child(6)>div {
    position: absolute;
    top: 30px;
    background-color: #fff;
    width: 100px;
    font-size: 12px;
    display: none;
    border: 1px solid #33AFE8;
}

.lnb li:nth-child(6)>div li {
    padding: 5px;
}

.lnb li:nth-child(6):hover div {
    display: block;
}

.lnb li:nth-child(8)>div {
    position: absolute;
    top: 30px;
    background-color: #fff;
    width: 100px;
    font-size: 12px;
    display: none;
    border: 1px solid #33AFE8;
}

.lnb li:nth-child(8)>div li {
    padding: 5px;
}

.lnb li:nth-child(8):hover div {
    display: block;
}

.lnb>ul>li>div a:hover {
    text-decoration: underline;
}

header li>div {
    box-shadow: 3px 3px 10px #ababab;
}

footer {
    width: 1200px;
    margin: auto;
    height: 200px;
    border-top: 5px solid #33AFE8;
}

footer form {
    height: 45px;
    background-color: #f0f0f0;
    box-sizing: border-box;
}

footer form input {
    float: left;
    margin-top: 10px;
}

form input#footerSearch {
    display: block;
    width: 300px;
    height: 25px;
    border: 1px solid #33AFE8;
    box-sizing: border-box;
    margin-left: 400px;
}

form input[type="image"] {
    display: block;
    width: 46px;
    height: 25px;
    margin-left: 5px;
}

form input[type="image"]:nth-child(3) {
    margin-left: 15px;
}

.footerLnb {
    height: 35px;
    overflow: hidden;
    border-bottom: 1px solid #f0f0f0;
    box-sizing: border-box;
}

.footerLnb li {
    float: left;
    padding: 8px 16px;
}

.footerLnb a {
    font-size: 14px;
}

.footerLnb li:nth-child(6) a,
.footerLnb li:nth-child(7) a,
.footerLnb li:nth-child(8) a,
.footerLnb li:nth-child(9) a,
.footerLnb li:nth-child(10) a {
    color: #33AFE8;
}

.footerLnb a:hover {
    text-decoration: underline;
    color: #426AB3;
}

.footerbottom {
    height: 200px;
}

.footerbottom>div {
    float: left;
}

.footerbottom .logo {
    width: 300px;
    height: 200px;
}

.footerbottom .logo img {
    box-sizing: border-box;
    display: block;
    margin: 24px auto;
}

.footerbottom .address {
    width: 500px;
    height: 200px;
    padding: 10px;
    padding-left: 70px;
    box-sizing: border-box;

}

.address li {
    padding: 5px;
    display: block;
    width: 200px;
    float: left;
}

.address li:nth-child(1),
.address li:nth-child(8),
.address li:nth-child(9),
.address li:nth-child(10) {
    width: 100%;
}

.address li a {
    text-decoration: underline;
    color: #426AB3;
}

.address span {
    display: block;
    clear: left;
    padding: 5px;
}

.call {
    width: 400px;
    height: 200px;
    padding: 5px;
    box-sizing: border-box;
}

.call strong {
    font-size: 16px;
}

.call div {
    margin-top: 10px;
    float: left;
    margin-bottom: 10px;
}

.call>div:nth-child(2) a,
.call>div:nth-child(3) a {
    display: block;
    width: 150px;
    height: 30px;
    float: left;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #f0f0f0;
    text-align: center;
    margin-left: 45px;
}

.call>div:nth-child(2) a:hover,
.call>div:nth-child(3) a:hover {
    background-color: #f0f0f0;
}

.call div:nth-child(3) a {
    margin-left: 10px;
}

.call p {
    clear: left;
    width: 400px;
    text-align: center;
}

.call>div:nth-child(5) a {
    display: block;
    width: 310px;
    height: 30px;
    box-sizing: border-box;
    padding: 5px;
    margin-left: 45px;
    text-align: center;
    border: 1px solid #f0f0f0;
}

.call>div:nth-child(5) a:hover {
    background-color: #f0f0f0;
}

.call>div:nth-child(6) {
    margin-left: 45px;
    height: 50px;
}

.call>div:nth-child(6) img {
    float: left;
    width: 50px;
    height: 50px;
    float: left;
}

.call>div:nth-child(6) div {
    float: left;
    width: 100px;
    height: 50px;
    padding-left: 5px;
    float: left;
    margin: 0;
    line-height: 1.5em;
    padding-top: 5px;
}

.call>div:nth-child(6) div a {
    text-decoration: underline;
    color: #426AB3;
}

.call>div:nth-child(7) {
    height: 50px;
}

.call>div:nth-child(7) img {
    width: 50px;
    height: 50px;
    float: left;
}

.call>div:nth-child(7) div {
    width: 100px;
    height: 50px;
    padding-left: 5px;
    margin: 0;
    float: left;
    line-height: 1.5em;
    padding-top: 5px;
}

.call>div:nth-child(7) div a {
    text-decoration: underline;
    color: #426AB3;
}